<body>
  <button class="logout-button-fixed" (click)="logout()">Cerrar Sesión</button>

  <div class="container">
    <h1 style="text-align: center;">SELECT MODULE TYPE</h1>
    <div class="image-container">
      <!-- Clientes -->
      <a
        *ngIf="(isAdmin$ | async) || (isGerenteProduccion$ | async)"
        [routerLink]="'/modo-clientes'"
        class="module-link"
      >
        <img
          style="height: 320px;"
          src="assets/images/clientes.png"
          alt="Gestión de Clientes"
          class="module-img"
        >
      </a>
      <!-- Ventas -->
      <a
        *ngIf="(isAdmin$ | async) || (isGerenteProduccion$ | async)"
        [routerLink]="'/modo-ventas'"
        class="module-link"
      >
        <img
          style="height: 320px;"
          src="assets/images/ventas.png"
          alt="Gestión de Ventas"
          class="module-img"
        >
      </a>
      <!-- Almacén -->
      <a
        *ngIf="(isAdmin$ | async) || (isAlmacenista$ | async)"
        [routerLink]="'/modo-almacen'"
        class="module-link"
      >
        <img
          src="assets/images/almacen.png"
          alt="Modo Almacén"
          class="module-img"
        >
      </a>
    </div>
    </div>
</body>