/* Estilos globales - Eliminar espacios en blanco y scroll horizontal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
}
