<body>
 <div class="container">
  <h1>SELECT MODULE TYPE</h1>

  <div class="image-container">
    <img 
      src="../../../assets/images/agregar_orden.png" 
      alt="Agregar Orden"
      [class.selected]="selectedModule === 'agregar'"
      (click)="selectModule('agregar')"
      class="module-img"
    >
    <img 
      src="../../../assets/images/ver_ordenes.png" 
      alt="Ver Órdenes"
      [class.selected]="selectedModule === 'ver'"
      (click)="selectModule('ver')"
      class="module-img"
    >
  </div>

  <div class="button-container">
    <button class="back" (click)="goBack()">&#8592;</button>
  </div>
</div> 
</body>